<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.metro.mapper.TripsMapper">

    <resultMap id="StatisticInfoDTO" type="cn.edu.whu.metro.dto.StatisticInfoDTO">
        <result property="average" column="average"/>
        <result property="standError" column="std_error"/>
    </resultMap>

    <select id="queryAverageTimeBetweenStations" resultMap="StatisticInfoDTO">
        SELECT AVG(duration) AS average, STDDEV(duration) AS std_error FROM trips
        WHERE station_in IN (#{station1}, #{station2})
        AND station_out IN (#{station1}, #{station2})
    </select>


    <resultMap id="StationFlowDTO" type="cn.edu.whu.metro.dto.StationFlowDTO">
        <result property="id" column="id"/>
        <result property="flow" column="cnt"/>
    </resultMap>


    <select id="queryStationInFlowInTimeSlice" resultMap="StationFlowDTO">
        SELECT
            station.id,
            COUNT( trips.id ) AS cnt
        FROM
            trips,
            station
        WHERE
            ( trips.time_in BETWEEN #{startTime} AND #{endTime} )
            AND station.station_id = trips.station_in
        GROUP BY
            station.id
        ORDER BY
            station.id ASC
    </select>

    <select id="queryStationOutFlowInTimeSlice" resultMap="StationFlowDTO">
        SELECT
            station.id,
            COUNT( trips.id ) AS cnt
        FROM
            trips,
            station
        WHERE
            ( trips.time_out BETWEEN #{startTime} AND #{endTime} )
            AND station.station_id = trips.station_out
        GROUP BY
            station.id
        ORDER BY
            station.id ASC
    </select>



    <select id="queryStationInFlow" resultType="cn.edu.whu.metro.vo.StationFlowVO">
        SELECT
            station.id,
            station.station_id,
            COUNT( trips.id ) AS flow
        FROM
            trips,
            station
        WHERE
            ( trips.time_in BETWEEN #{startTime} AND #{endTime} )
            AND station.station_id = trips.station_in
        GROUP BY
            station.id, station.station_id
        ORDER BY
            station.id ASC
    </select>

    <select id="queryStationOutFlow" resultType="cn.edu.whu.metro.vo.StationFlowVO">
        SELECT
            station.id,
            station.station_id,
            COUNT( trips.id ) AS flow
        FROM
            trips,
            station
        WHERE
            ( trips.time_out BETWEEN #{startTime} AND #{endTime} )
            AND station.station_id = trips.station_out
        GROUP BY
            station.id, station.station_id
        ORDER BY
            station.id ASC
    </select>


    <select id="queryLineInFlowInTimeSlice" resultType="cn.edu.whu.metro.dto.LineFlowDTO">
        SELECT
            station.line_name AS line_name,
            COUNT( trips.id ) AS flow
        FROM
            trips
            RIGHT JOIN station ON trips.station_in = station.station_id
        WHERE
            ( trips.time_in BETWEEN #{startTime} AND #{endTime} )
        GROUP BY
            station.line_name
        ORDER BY
            station.line_name ASC
    </select>

    <select id="queryLineOutFlowInTimeSlice" resultType="cn.edu.whu.metro.dto.LineFlowDTO">
        SELECT
            station.line_name AS line_name,
            COUNT( trips.id ) AS flow
        FROM
            trips
            RIGHT JOIN station ON trips.station_out = station.station_id
        WHERE
            ( trips.time_out BETWEEN #{startTime} AND #{endTime} )
        GROUP BY
            station.line_name
        ORDER BY
            station.line_name ASC
    </select>

    <select id="queryLineExchangeFlow" resultType="Integer">
        SELECT
            COUNT( trips.id ) AS cnt
        FROM
            trips
        WHERE
            trips.station_in IN ( SELECT station.station_id FROM station WHERE line_name = #{lineIn} )
            AND trips.station_out IN ( SELECT station.station_id FROM station WHERE line_name = #{lineOut} )
            AND ((trips.time_in BETWEEN #{startTime} AND #{endTime} ) OR ( trips.time_out BETWEEN #{startTime} AND #{endTime} ) )
    </select>

</mapper>
